div.myfont{
  font-family: 'Brush Script MT', cursive;
	font-size: 60px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
  text-align : center;
  color: #FFA500;
}

.active{
  color:#000080 !important;
  font-size:14px;
}
  
.inactive{
  color:#87CEEB !important;
  font-size:14px;
}

.bad{
  color:#FF0000 !important;
}

.good{
  color:#00FF00 !important;
}